.outerDiv{

    height:100vh;
    font-family: "CustomFont";
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.innerDiv{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    font-size: 5vw;
    margin-bottom:10vh;
}